<h1 class="display-4 text-center">Tab</h1>
<hr>
<!-- <ul class="nav nav-pills">
    <li class="nav-item">
        <a href="javascript:;" 
        (click)="selectedFrameWork = 'angular'"
        [ngClass]="{
            'active' : selectedFrameWork === 'angular'
        }"
        class="nav-link">Angular</a>
    </li>
    <li class="nav-item">
        <a href="javascript:;" 
        (click)="selectedFrameWork = 'react'"
        [ngClass]="{
            'active' : selectedFrameWork === 'react'
        }"
        class="nav-link">React</a>
    </li>
    <li class="nav-item">
        <a href="javascript:;"
        (click)="selectedFrameWork = 'node'"
        [ngClass]="{
            'active' : selectedFrameWork === 'node'
        }"
        class="nav-link">Node</a>
    </li>
    <li class="nav-item">
        <a href="javascript:;"
        (click)="selectedFrameWork = 'express'"
       [ngClass]="{
            'active' : selectedFrameWork === 'express'
        }"
        class="nav-link">Express</a>
    </li>
</ul>

<div class="tab-body">
    <div class="card" *ngIf="selectedFrameWork === 'angular'">
        <div class="card-body">
            <strong>Angular</strong>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus itaque nemo explicabo id alias eius ipsum commodi et dignissimos reprehenderit.</p>
        </div>
    </div>
    <div class="card" *ngIf="selectedFrameWork === 'react'">
        <div class="card-body">
            <strong>React</strong>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus itaque nemo explicabo id alias eius ipsum commodi et dignissimos reprehenderit.</p>
        </div>
    </div>
    <div class="card" *ngIf="selectedFrameWork === 'node'">
        <div class="card-body">
            <strong>Node</strong>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus itaque nemo explicabo id alias eius ipsum commodi et dignissimos reprehenderit.</p>
        </div>
    </div>
    <div class="card" *ngIf="selectedFrameWork === 'express'">
        <div class="card-body">
            <strong>Express</strong>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus itaque nemo explicabo id alias eius ipsum commodi et dignissimos reprehenderit.</p>
        </div>
    </div>
</div> -->