.noImg{
    height: 300px;
    border: 1px solid #eee;
    background-color: #eee;
}

.img-fluid {
    max-width: 100%;
    height: 30rem;
    width: 100%;
    cursor: pointer;
}


.btn{
    width: 16%;
   color: white;
    background-color: green;
    margin-bottom: 1.5rem!important;

}
.btn-1{
    color: white;
    width: 30%;
    border-radius: 5px;
    background-color: green;
    cursor: pointer;

}