<!-- 
<h1>
  angular is frontend framework, which is use to create single page web application.
  and build on the top of typescript.
</h1>

framework :- framework calls you (devoloper) <br>
library :- you (developer) call library -->

<!-- reactJS :- it is js library for creating intractive UI -->

<!-- <button class="btn btn-primary mt-3" (click)="onToggle()">
  Toggle Heading</button>

  <hr>

<h1 *ngIf="showheading">
  angular is frontend framework
</h1> -->

<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <!-- <ul class="list-group">
        <li class="list-group-item" *ngFor="let skill of skills">
          I Love {{skill}}
        </li>
      </ul>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let skill of likes">
          My Favourite {{skill}}
        </li>
      </ul>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let skill of movies">
          I Like {{skill}}
        </li>
      </ul>
      <hr>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>sr num.</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Contact</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let all of persons; let i = index">
            <td>{{i + 1}}</td>
            <td>{{all.fname}}</td>
            <td>{{all.lname}}</td>
            <td>{{all.email}}</td>
            <td>{{all.contact}}</td>
          </tr>
        </tbody>
      </table>
      <hr>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>gender</th>
            <th>subjects</th>
            <th>marks</th>
            <th>grade</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of subjects; let j = index">
            <td>{{j + 1}}</td>
            <td>{{person.gender}}</td>
            <td>{{person.subjects}}</td>
            <td>{{person.marks}}</td>
            <td>{{person.grade}}</td>
          </tr>
        </tbody>
      </table>
      <hr>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>fname</th>
            <th>age</th>
            <th>percentage</th>    
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let all of student; let j = index">
            <td>{{j + 1}}</td>
            <td>{{all.fname}}</td>
            <td>{{all.age}}</td>
            <td>{{all.percentage}}</td>
          </tr>
        </tbody>
      </table> -->

      <hr>
      <!-- <app-products></app-products> -->

      <!-- <app-tab></app-tab> -->
      <!-- <app-tab></app-tab> -->
      <!-- <app-posts></app-posts> -->
       <!-- <app-mobile></app-mobile> -->
<!-- <app-tab-ng-switch></app-tab-ng-switch> -->
<app-tab-in-ng-switch2></app-tab-in-ng-switch2>
    </div>
  </div>
</div>