<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let card of postsArray">
        <div class="card">
            <div class="card-header">
                {{card.title}}
                
            </div>

            <div class="card-body">
                
                {{card.body}}
            </div>
            <div class="card-footer d-flex  justify-content-between">
                <button class="btn btn-info">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>